footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: aqua;
}
.footer__sec {
  width: 100%;
  padding: 0 auto;
  display: flex;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
}
.hng-desc {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 480px) {
  .footer__sec {
    flex-direction: column;

    justify-content: space-around;
  }
  .imgfoot {
    margin-top: 10px;
  }
}
@media (max-width: 799px) {
  .footer__sec {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .imgfoot {
    margin-top: 10px;
  }
}
